.sidebar {
  top: 0;
  width: 5%;
  height: 100vh;
  min-width: 3rem;
  background-color: var(--primary-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-right: 2px solid #8e69da;
  position: fixed;
}

.user-photo-container {
  width: 35px;
  border-radius: 50%;
  justify-content: center;
  position: absolute;
  top: 15%;
}
.user-photo {
  width: 100%;
  border-radius: 50%;
}

.logo {
  top: 21px;
  left: 13px;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation-button,
.footer-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-900);
  transition: background-color 0.3s ease;
}

.navigation-button:hover,
.footer-icon:hover {
  background-color: var(--primary-100);
}

.navigation-button:hover .icon,
.footer-icon:hover .icon {
  filter: invert(100%) !important;
}

.navigation-button .icon.active {
  filter: none; 
}

.navigation-button .icon.inactive {
  filter: grayscale(100%) brightness(30%); 
}
