/* Sidebar Styles */
.sidebar {
  width: 5%;
  height: 100vh;
  min-width: 3rem;
  background-color: #0f0b28;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-right: 2px solid #8e69da;
  position: fixed;
}

.logo-container img {
  width: 2rem;
}

.user-photo-container {
  width: 35px;
  border-radius: 50%;
  justify-content: center;
  position: absolute;
  top: 15%;
  overflow: hidden;
}

.user-photo-container img {
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navigation-button,
.footer-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0f0b28;
  transition: background-color 0.3s ease;
}

.navigation-button:hover,
.footer-icon:hover {
  background-color: #cccccc;
}
