<div id="posting" data-parent-id="" style="display: none;">
    <form id="posting-form" class="posting-post-container" enctype="multipart/form-data">
        <div class="posting-post-header">
            <span class="posting-cancel" onclick="hidePopup()">Cancel</span>
            <h2 class="posting-title">New Post</h2>
        </div>
        <div class="posting-line-header"></div>
        <div class="posting-post-body">
            <div class="posting-post-input-section">
                {{#if user.profilePicture}}
                    <img src="{{user.profilePicture}}" alt="User Avatar" class="posting-avatar" />
                {{else}}
                    <img src="/assets/img/avatar/profile.png" alt="User Avatar" class="posting-avatar" />
                {{/if}}
                <p class="posting-username">{{user.username}}</p>
                <div class="posting-textbox">
                    <textarea name="content" placeholder="How do you feel today??"></textarea>
                </div>
                <div class="posting-post-actions">
                    <label for="add-image">
                        <img class="posting-icon" src="/assets/vendor/icons/image.svg" alt="Add Image" />
                    </label>
                    <input id="add-image" name="image" type="file" accept="image/*"/>
                </div>
            </div>
        </div>
        <button type="submit" class="posting-post-button">Post</button>
    </form>
</div>

