/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  background-color: #110d26; /* Background color for the whole page */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #ffffff;
}

/* Page Container */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Title Text */
.text {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 20px;
}

/* Highlighted part of title */
.highlight {
  color: #5d5aacff;
}

/* Button Base Style */
.button {
  width: 160px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #584f7eff; /* tertiary1-500 */
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition */
  text-align: center;
}

.sign-up,
.sign-in {
  border-color: #5d5aacff;
}

/* Hover Effects */
.button:hover {
  background-color: #5d5aacff;
  color: #ffffff;
  transform: scale(1.05); /* Slightly enlarges on hover */
}

/* Active State */
.button:active {
  background-color: #4d4a8a; /* Darkened on press */
  border-color: #4d4a8a;
}

/* Disabled State */
.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
