<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <link rel="icon" type="image/jpg" href="/assets/vendor/icons/logo.svg">
    <link rel="stylesheet" href="email-authentication.css">
    <script type="module" src="../base/applyTheme.js"></script>
    
  </head>
  <body>
    <div class="container">
      <div class="message-box">
        <h1>Email Verification</h1>
        <p class="confirmation-text">Thank you for verifying your email!</p>
        <p>Please click the button below to continue.</p>
        <a href="../signin/signin.html" class="button">
            <button>Go to Sign in</button>
        </a>
      </div>
    </div>
  </body>
</html>
