<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <aside class="sidebar">
      <a class="logo-container" href="">
        <img
          src="../../assets/vendor/icons/logo.svg"
          alt="Threads Logo"
          class="logo"
        />
      </a>
      <a class="user-photo-container" href="">
        <img
          class="user-photo"
          src="../../assets/img/avatar/avt6.png"
          alt="photo"
        />
      </a>
      <nav class="nav">
        <div class="navigation-button">
          <a href="">
            <img
              src="../../assets/vendor/icons/home.svg"
              alt="Icon description"
              class="icon"
            />
          </a>
        </div>
        <div class="navigation-button">
          <a href="">
            <img
              src="../../assets/vendor/icons/search.svg"
              alt="Icon description"
              class="icon"
            />
          </a>
        </div>
        <div class="navigation-button">
          <a href="">
            <img
              src="../../assets/vendor/icons/add.svg"
              alt="Icon description"
              class="icon"
            />
          </a>
        </div>
        <div class="navigation-button">
          <a href="">
            <img
              src="../../assets/vendor/icons/noti.svg"
              alt="Icon description"
              class="icon"
            />
          </a>
        </div>
      </nav>
      <div class="footer-icon">
        <a href="#"
          ><img
            src="../../assets/vendor/icons/menu.svg"
            alt="Menu Icon"
            class="icon"
        /></a>
      </div>
    </aside>

    <div class="main-content">
      <header class="header">
        <div class="tabs">
          <button class="tab active"><span>For you</span></button>
          <button class="tab"><span>Following</span></button>
        </div>
      </header>

      <div class="container"></div>
    </div>

    <div class="floating-btn">
      <a href="">
        <img
          src="../../assets/vendor/icons/add.svg"
          alt="Icon description"
          class="icon"
        />
      </a>
    </div>
  </body>
</html>
