<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Threads Layout</title>
  <link rel="stylesheet" href="layout.css">
</head>
<body>

  <!-- Sidebar -->
  <aside class="sidebar">
    <img src="../../assets/vendor/icons/logo.svg" alt="Threads Logo" class="logo"></i>
    <nav class="nav">
      <img src="../../assets/vendor/icons/home.svg" alt="Icon description" class="icon"></i>
      <img src="../../assets/vendor/icons/search.svg" alt="Icon description" class="icon"></i>
      <img src="../../assets/vendor/icons/add.svg" alt="Icon description" class="icon"></i>
      <img src="../../assets/vendor/icons/noti.svg" alt="Icon description" class="icon"></i>
    </nav>
    <div class="footer-icon">
      <a href="#"><img src="../../assets/vendor/icons/menu.svg" alt="Menu Icon" class="icon"></a>
    </div>
  </aside>

  <!-- Main Content Area -->
  <div class="main-content">
    
    <!-- Header -->
    <header class="header">
      <div class="tabs">
        <span class="tab active">For you</span>
        <span class="tab">Following</span>
      </div>
    </header>


    <div class="container">
      
      <!-- Content here -->

      

    </div>


    

      
    </div>

  </div>


</body>
</html>
