<div class="main-content d-flex flex-column flex-grow-1 justify-content-center align-items-center">
    <header class="header post-detail-header fixed-top m-auto w-50 h-auto pt-3">
        <button id="prev" class="navigation-button d-inline-block mt-3 p-0 ml-3 rounded-circle text-white position-absolute start-10" style="border: none; outline: none;" 
        onclick="goToHomepage()">
            <i class="bi bi-arrow-left fs-4 text-white"></i>
        </button>
        <div class="post-title text-center w-100 p-3 fw-normal fs-4">Post</div>
    </header>
    <div class="container-homepage position-fixed w-50">
        <ul class="post-container-homepage list-unstyled w-100 h-100 overflow-auto">
            {{> post thread}}

            <div class="reply">
                <div class="fs-6 fw-normal text-light text-center pb-2">Replies</div>
            </div>

            {{#each replies}}
                {{> post this}}
            {{/each}}
        </ul>
      </div>


    {{> posting}}
    <div id="reply-box-container" class="reply-box-container">
        {{> replyBox}}
    </div>
</div>
    
    {{> floating-btn}}
    


<script src="/js/detailPost.js"></script>
