<div class="main-content">
    <div class="container">
        <div class="container-header">
            <div class="x-button">
                <a href="/profile">
                    <img src="../../assets/vendor/icons/close.svg" alt="Icon description" class="icon">
                </a>
            </div>
            <h3>Edit profile</h3>
            <button class="btn-save" type="submit" form="profileForm">Save</button>
        </div>

        <div class="profile-edit">
            <form id="profileForm" method="POST" action="/edit-profile">
                <label for="name">Userame</label>
                <input type="text" id="name" name="name" placeholder="{{user.username}}"/>

                <label for="bio">Bio</label>
                <textarea id="bio" name="bio" rows="3" placeholder="{{user.bio}}"></textarea>
            </form>
            <div class="avatar-edit">
                <img class="picture" id="profilePictureImg" src="{{#if user.profilePicture}}{{user.profilePicture}}{{else}}../../assets/img/avatar/ava4.png{{/if}}" alt="photo">
                <label for="profilePicture" class="edit-label">Edit</label>
                <input type="file" id="profilePicture" name="profilePicture" accept="image/*" style="display: none;" />
            </div>
        </div>
    </div>
</div>