<div class="main-content">

    <div class="container">
        <div class="container-header">
            <div class="x-button">
                <a href="/profile">
                    <img src="../../assets/vendor/icons/close.svg" alt="Icon description" class="icon">
                </a>
            </div>
            <h3>Edit profile</h3>
            <button class="btn-save">Save</button>
        </div>

        <div class="profile-edit">
            <form>
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Angel Babyboo" />
    
                <label for="bio">Bio</label>
                <textarea id="bio" rows="3" placeholder="Your bio is here âœ¨â¤ï¸&#10;I love threads ðŸ‘ŒðŸ˜˜"></textarea>
    
                <label for="location">Location</label>
                <input type="text" id="location" placeholder="Your location" />
    
                <label for="link">Link</label>
                <input type="text" id="link" placeholder="Add link" />
            </form>
            <div class="avatar-edit">
                <a href="">
                    <img class="picture" src="../../assets/img/avatar/ava6.png" alt="photo">
                </a>
            </div>
        </div>
    </div>
</div>
<div id="floating-btn"></div>

<div id="posting" style="display: none"></div>
