<div class="main-content">
      <header class="header homepage-header fixed-top m-auto w-50 h-auto pt-3">
        {{!-- <div class="x-button">
            <a href="/profile">
                <img src="../../assets/vendor/icons/close.svg" alt="Icon description" class="icon">
            </a>
        </div> --}}
        <div class="tabs w-100 d-flex">
          <button class="tab active d-flex justify-content-center align-items-center shadow-none w-50 p-3" onclick="location.href='/follower'"><span>Follower</span></button>
          <button class="tab d-flex justify-content-center align-items-center shadow-none w-50 p-3" onclick="location.href='/following'"><span>Following</span></button>
        </div>
      </header>
      
      <div class="container">
  
        <!-- Following List -->
        <div class="follower-list">
          <div class="follower">
            <img src="../../assets/img/avatar/ava1.png" alt="Avatar" class="avatar">
            <div class="user-info">
              <p class="username">genfest_official</p>
              <p class="user-details">GENfest • 6,722 followers</p>
            </div>
            <button class="button">Follow back</button>
          </div>
  
          <div class="follower">
            <img src="../../assets/img/avatar/ava2.png" alt="Avatar" class="avatar">
            <div class="user-info">
              <p class="username">hoangdung.music</p>
              <p class="user-details">Hoàng Dũng • 38,4K followers</p>
            </div>
            <button class="button">Follow back</button>
          </div>
  
          <div class="follower">
            <img src="../../assets/img/avatar/ava3.png" alt="Avatar" class="avatar">
            <div class="user-info">
              <p class="username">david_beckham</p>
              <p class="user-details">David Beckham • 65.7M followers</p>
            </div>
            <button class="button">Follow back</button>
          </div>
  
          <div class="follower">
            <img src="../../assets/img/avatar/ava5.png" alt="Avatar" class="avatar">
            <div class="user-info">
              <p class="username">hafthi</p>
              <p class="user-details">Hà Thi • 86.8K followers</p>
            </div>
            <button class="button">Follow back</button>
          </div>
  
        </div>
      </div>
      
    </div>