<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="icon" type="image/jpg" href="/assets/vendor/icons/logo.svg">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <script type="module" src="/js/applyTheme.js"></script>
  </head>
  <body>
  
    <div class="page">
     
      <img
        src="./assets/vendor/icons/logo.svg"
        alt="Threads Logo"
        class="logo"
        width="64"
        height="64"
      />

     
      <h1 class="text">It’s <span class="highlight">Threads!</span></h1>

    
      <a href="./pages/signup/signup.html">
        <button class="button sign-up">Sign up</button>
      </a>
      <a href="./pages/signin/signin.html">
      <button class="button sign-in">Sign in</button>
      </a>
    </div>

  </body>
</html>
