  
      <div class="post-container">
       
        <div class="post-header">
          <span class="cancel" onclick="hidePopup()">Cancel</span>
          <h2 class="title">New Post</h2>
        </div>
        <div class="line-header"></div>

        <div class="post-body">
          <div class="post-input-section">
            <img
              src="../../assets/img/avatar/ava1.png"
              alt="User Avatar"
              class="avatar"
            />
            <p class="username">ltthuys161</p>
            <div class="textbox">
              <input type="text" placeholder="How do you feel today??" />
            </div>

            <div class="post-actions">
              <label for="add-image">
                <img
                class="icon"
                src="../../assets/vendor/icons/image.svg"
                alt="Add Image"
                />
              </label>
              <input id="add-image" type="file" id="file" style="display: none" accept="image/*" />

              <img
                class="icon"
                src="../../assets/vendor/icons/video.svg"
                alt="Add Video"
              />
              <img
                class="icon"
                src="../../assets/vendor/icons/gif.svg"
                alt="Add Location"
              />
              <img
                class="icon"
                src="../../assets/vendor/icons/hastag.svg"
                alt="Add Video"
              />
              <img
                class="icon"
                src="../../assets/vendor/icons/location.svg"
                alt="Add Location"
              />
            </div>
          </div>

        </div>
        <button class="post-button">Post</button>
      </div>


