<div class="main-content">
    <div class="page-header">
        <h2>Profile</h2>
    </div>
    
    <header class="header post-detail-header" style="display: none;">
        <button class="navigation-button" id="prev" style="border: none; outline: none;" onclick="goToProfile()">
        <img src="../../assets/vendor/icons/prev.svg" alt="Icon description" class="icon" id="prev-icon" >
        </button>
        <div class="post-title">Post</div>
    </header>

    <div class="container-profile">
    
        <div class="profile-section">
        
            <div class="profile-header">
                <div class="profile-info">
                    <h2>{{user.username}}</h2>
                    <p class="profile-bio">{{user.bio}}</p>
                    <div class="profile-stats">
                        <span><a href="/follower">800 Followers</a></span>
                        <span><a href="/following">978 Following</a></span>
                    </div>
                </div>
                <div class="profile-picture">
                    <img class="user-photo" src="{{user.profilePicture}}" alt="photo">
                </div>
            </div>
        
            <div class="edit-profile">
                <button class="edit-button" onclick="location.href='/edit-profile'">Edit profile</button>
            </div>
        </div>
        <div class="container-profile-post">
            <ul class="post-container-profile"></ul>
        </div>
    
    </div>
</div>

<div id="posting" style="display: none"></div>
</body>

<div id="reply-box-container" class="reply-box-container" style="display: none;"></div>
</div>
