<div class="page">
    <div class="container">
        <h2 class="text">Welcome back!</h2>

        <!-- Form để xử lý đăng nhập -->
        {{#if message}}
                <div class="message">
                    <p>{{message}}</p>
                </div>
        {{/if}}

        <form id="signin-form" method="POST">
            <div class="textbox" style="top: 150px">
                <label class="label" for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required />
            </div>

            <div class="textbox" style="top: 215px">
                <label class="label" for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="At least 8 characters"
                    required
                    minlength="8"
                />
            </div>

            <div class="buttons">
                <button class="sign-up-button" type="submit">Sign in</button>
            </div>
        </form>
        <a class="signup-link" href="/signup">Have not had an account? Sign Up</a>
        <a class="forgot-password-link" href="/forgot-password">Forgot password?</a>
    </div>
</div>

<script>
    // Lắng nghe sự kiện submit của form
    document.querySelector("form").addEventListener("submit", function (event) {
        const password = document.querySelector("#password").value;

        // Kiểm tra độ dài mật khẩu
        if (password.length < 8) {
            event.preventDefault(); // Ngăn không gửi form
            alert("Password must be at least 8 characters long");
        }
    });
</script>