<div class="page">
    
      <div class="container">
     
        <h2 class="text">Welcome!</h2>

        <div class="textbox" style="top: 150px">
          <label class="label" for="email">Email</label>
          <input type="email" id="email" placeholder="Enter your email" />
        </div>

        <div class="textbox" style="top: 215px">
          <label class="label" for="password">Password</label>
          <input
            type="password"
            id="password"
            placeholder="At least 8 characters"
          />
        </div>

        <div class="buttons">
          <button class="sign-up-button" onclick="location.href='/pages/homepage/homepage.html'">Sign in</button>
        </div>
        <a class="forgot-password-link" href="/forgot-password">Forgot password?</a>

      </div>
    </div>