.sidebar {
  width: 80px; 
  height: 100vh;
  background-color: var(--primary-900); 
  border-right: 1px solid #8e69da;
}

.sidebar .top-section {
  gap: 5rem;
}

.btn.logo, .btn.user-photo-container {
  pointer-events: none;
}

.btn.logo img, .btn.user-photo-container img {
  pointer-events: auto; 
}

.btn.user-photo-container img {
  object-fit: cover;
}

.navigation-button,
.footer-icon {
  width: 40px;
  height: 40px;
  background-color: var(--primary-900);
  transition: background-color 0.3s ease;
}

.navigation-button i {
  color: var(--neutral-500); /* Mặc định là màu mờ */
  transition: color 0.3s ease, transform 0.3s ease;
}

.navigation-button.active i {
  color: var(--primary-100); /* Màu sáng khi active */
}

.navigation-button.inactive i {
  color: var(--neutral-500); /* Màu mờ khi inactive */
}

.navigation-button:hover i:not(.active) {
  color: var(--primary-500); /* Màu nổi bật khi hover */
  transform: scale(1.2);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile-overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.mobile-overlay.active {
  display: flex;
}



.setting-container {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  width: 226px; 
  height: 93%; 
  background: var(--primary-600); 
  border-radius: 0px 18px 18px 0px; 
  box-shadow: 0px 28.5px 59px var(--primary-800), 0px 0px 2px #171a1f; 
}

.setting-container .post-header {
  position: absolute; 
  top: 21px; 
  left: 18px; 
  width: 123px; 
  height: 49px;
}


.post-header .avatar {
  position: relative; 
  top: 0px; 
  left: 0px; 
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  object-fit: cover;
}

.post-header .user-info {
  position: absolute; 
  top: 10px; 
  left: 40px; 
  font-family: var(--font-family-heading), sans-serif;
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #F8F9FAFF; 
}

.post-header .user-details {
  position: absolute; 
  top: 31px; 
  left: 75px; 
  font-family: var(--font-family-heading), sans-serif;
  font-size: 11px; 
  line-height: 18px; 
  font-weight: 400; 
  color: #BDC1CAFF; 
}

.follow {
  position: absolute; 
  top: 100px; 
  left: 10px; 
  width: 90%; 
  height: 5%; 
  background: inherit;
  border-bottom: var(--primary-400) 2px solid; 
  padding-left: 10px;
}

.follower-container {
  position: absolute; 
  top: 0px; 
  left: 0px; 
  font-family: var(--font-family-heading), sans-serif;
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: var(--primary-200);
  display: flex;
  gap: 5px;
}

.follower-container .follow-count {
  color: var(--primary-100)
}

.following-container .follow-count {
  color: var(--primary-100)
}

.following-container {
  position: absolute; 
  top: 0px; 
  left: 119px; 
  font-family: var(--font-family-heading), sans-serif;
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 400; 
  color: var(--primary-200);
  display: flex;
  gap: 5px;
}

.profile-container {
  display: flex;
  margin-top: 180px;
  margin-left: 20px;
}

.edit-profile {
  margin: 20px;
  background-color: var(--primary-600);
  border: none;
  font-family: var(--font-family-heading), sans-serif;
  color: var(--primary-200);
}

.log-out {
  display: flex;
  margin-left: 20px;
}

.log-out-button {
  margin: 10px 10px 10px 20px;
  background-color: var(--primary-600);
  border: none;
  font-family: var(--font-family-heading), sans-serif;
  color: var(--primary-200);
}

.close {
  position: absolute; 
  margin-left: 20px;
  top: 700px; 
  color: var(--primary-200);
}

.close-button {
  margin: 10px 10px 10px 20px;
  background-color: var(--primary-600);
  border: none;
  font-family: var(--font-family-heading), sans-serif;
  color: var(--primary-200);
}


@media screen and (max-width: 768px) {
  .sidebar .footer-icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    z-index: 1000;
    border: none;
  }

  .sidebar .top-section {
    flex-direction: row !important; 
    width: 100%;
    padding-bottom: 0.4rem;
    height: 3rem;
    z-index: 10000;
    position: relative
}

.sidebar .top-section .logo img {
  height: 1.8rem;
}

.sidebar .top-section .user-photo-container img {
  height: 2rem !important;
  width: 2rem !important;
}


.sidebar .top-section .user-photo-container {
  order: 0;
  position: absolute;
}

.sidebar .top-section .logo {
    order: 1;
    margin: auto;
    width: 100%;
    position: absolute;
}

  .sidebar .bottom-section {
    background-color: var(--primary-900); 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #8e69da;
    
  }

  .sidebar .bottom-section .navigation-button i {
    font-size: 1.8rem;
  }
}

#noti-icon.has-unread::after {
  content: "";
  position: absolute;
  top: 69%;
  right: 10%;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  z-index: 10;
}

#noti-icon.no-unread i {
  color: white;
}