.sidebar {
  width: 80px; 
  height: 100vh;
  background-color: var(--primary-900); 
  border-right: 1px solid #8e69da;
}

.sidebar .top-section {
  gap: 5rem;
}

.btn.logo, .btn.user-photo-container {
  pointer-events: none;
}

.btn.logo img, .btn.user-photo-container img {
  pointer-events: auto; 
}

.navigation-button,
.footer-icon {
  width: 40px;
  height: 40px;
  background-color: var(--primary-900);
  transition: background-color 0.3s ease;
}

.navigation-button i {
  color: var(--primary-900);
  transition: color 0.3s ease, transform 0.3s ease;
}

.navigation-button i.active {
  color: var(--primary-100); 
  transform: none; 
}

.navigation-button i.inactive {
  color: var(--neutral-500) !important; 
  transform: none;
}

.navigation-button:hover i:not(.active) {
  color: var(--primary-500); 
  transform: scale(1.2); 
}




@media screen and (max-width: 768px) {
  .sidebar .footer-icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    z-index: 1000;
    border: none;
  }

  .sidebar .top-section {
    flex-direction: row !important; 
    width: 100%;
    height: 3rem;
    z-index: 10000;
    position: relative
}

.sidebar .top-section .logo img {
  height: 1.8rem;
}

.sidebar .top-section .user-photo-container img {
  height: 2rem !important;
  width: 2rem !important;
}


.sidebar .top-section .user-photo-container {
  order: 0;
  position: absolute;
}

.sidebar .top-section .logo {
    order: 1;
    margin: auto;
    width: 100%;
    position: absolute;
}

  .sidebar .bottom-section {
    background-color: var(--primary-900); 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #8e69da;
    
  }

  .sidebar .bottom-section .navigation-button i {
    font-size: 1.8rem;
  }
}
