* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-heading), sans-serif;
  display: flex;
  min-height: 100vh;
  color: var(--primary-100);
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: var(--primary-900);
}


.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 550px;
  padding: 20px;
  
}


.search-title {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-weight: bold;
}


.search-container {
  position: relative;
  width: 100%;
  background-color: var(--primary-700); 
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 

}

.search-textbox {
  position: sticky;
  top: 3rem;
  width: 100%;
  opacity: 1;
  z-index: 1000; 
}

.search-textbox input {
  width: 100%;
  height: 50px;
  padding-left: 34px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--primary-100);
  background: var(--primary-850);
  border-radius: 12px;
  border-width: 1px;
  border-color: var(--color-5-500);
  border-style: solid;
  outline: none;
}

.search-textbox .left {
  position: absolute;
  top: 18px;
  left: 12px;
  width: 16px;
  height: 16px;
  fill: var(--primary-100);
}


.suggestions-title {
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  color: var(--primary-250);
  margin-bottom: 10px;
}


.suggestions {
  display: flex;
  flex-direction: column;
}


.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid var(--primary-450);
}

.suggestion-item:first-child {
  border-top: none; 
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  flex-grow: 1;
}

.username {
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-100);
}

.user-details {
  padding-top: 3px;
  font-size: 14px;
  color: var(--primary-250);
}

.fl-button {
  top: 3px;
  left: 498px;
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--neutral-300); 
  background: var(--secondary-500); 
  opacity: 1;
  border-radius: 12px; 
  border-width: 1px;
  border-color: var(--color-5-500); 
  border-style: solid;
  cursor: pointer;
  transition: all 0.3s ease;
}


.fl-button:hover {
  background: var(--secondary-400); 
  color: var(--primary-200); 
}


.fl-button:active {
  background: var(--secondary-500);
  color: var(--primary-200); 
}


.fl-button:disabled {
  opacity: 0.4;
}


@media screen and (max-width: 768px) {
  .search-page {
    width: 100% !important;
    margin: 0;
  }

  .main-content {
    padding: 20px 0 0 0;
  }

  #sidebar {
    position: sticky;
    z-index: 1001;
    top: 0 !important;
    flex-shrink: 0;
  }
}