.floating-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: #5d5aac;
  border: 1px solid #8e69daff; /* Gộp tất cả các thuộc tính border */
  border-radius: 12px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.floating-btn:hover {
  background-color: #110d26ff;
}
