/* Reset */
*   {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: var(--font-family-heading), sans-serif;
  color: var(--primary-100);;
  background-color: var(--primary-900);
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: var(--primary-900);;
}


.header {
  width: 50%;
  height: 4rem;
  background-color: var(--primary-900);;
  padding: 20px 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 9999; 
}

.tabs {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.tab {
  width: 50%;
  background-color: var(--primary-700);
  padding-top: 8px;;
  padding-bottom: 10px;
  border-radius: 12px 12px 0 0;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab:hover {
  background-color: var(--primary-800);
  color: var(--primary-200);
}

.tab span {
  font-size: 16px;
  color: var(--primary-200);
  transition: color 0.3s;
}

.tab.active {
  font-weight: bold;
  border-bottom: 1px solid var(--primary-100);;
}

.tab.active span {
  color: var(--primary-100);;
  font-weight: bold;
}

.container {
  position: relative;
  margin-top: 4rem;
  width: 50%;
  height: 100vh;
  background-color: var(--primary-700); /* Darker container color */
  border-radius: 20px 20px 0 0;
  padding: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Following List */
.following-list {
  display: flex;
  flex-direction: column;
}

/* Individual Suggestion Item */
.following {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #2A2140;
}

.following:first-child {
  border-top: none; /* Remove top border for the first item */
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  flex-grow: 1;
}

.username {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.user-details {
  padding-top: 3px;
  font-size: 14px;
  color: #9A97B0; /* Follower count color */
}
