/* Reset */
*   {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
  color: var(--primary-100);
  background-color: var(--primary-900);
}


.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: var(--primary-900);
}


.header {
  width: 50%;
  height: 4rem;
  background-color: var(--primary-900);
  padding: 20px 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 9999; 
}

.container {
  position: relative;
  margin-top: 4rem;
  width: 50%;
  height: 100%;
  background-color: var(--primary-700); /* Darker container color */
  border-radius: 20px;
  padding: 20px 0;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

  /* Profile Section */
.profile-section {
  width: 100%;
  background-color: var(--primary-700);
  margin: 0 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
}

.profile-header .profile-info {
    display: flex;
    align-items: flex-start;
}

.profile-header .profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-right: 20px;
    position: relative;
}

.profile-header .profile-picture::after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-color: #4caf50;
    border-radius: 50%;
    border: 2px solid #282537;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-header .profile-info h2 {
    font-size: 1.5rem;
    color: var(--primary-100);
}

.profile-header .profile-info p {
    font-size: 0.9rem;
    padding-top: 0.4rem;
    color: #bbbbbb;
}

.edit-profile {
  display: flex;
  justify-content: center;
}

.edit-button {
    max-width: 400px;
    width: 70%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #2a2951;
    border: 2px solid #584F7EFF; /* tertiary1-500 */
    border-radius: 18px;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition */
    text-align: center;
}

/* Hover Effects */
.edit-button:hover {
    background-color: #5D5AACFF;
    color: var(--primary-100);
}

/* Active State */
.edit-button:active {
    background-color: #4D4A8A; /* Darkened on press */
    border-color: #4D4A8A;
}

/* Disabled State */
.edit-button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.profile-header .edit-button:hover {
    background-color: #444;
}

/* Bio & Stats */
.profile-bio {
    font-size: 0.9rem;
    color: #bbbbbb;
    margin: 10px 0 20px;
}

.profile-stats {
    font-size: 0.9rem;
    color: #bbbbbb;
}

.profile-stats span {
    margin-right: 20px;
}

/* Posts */
#post-container {
  width: 100%;
  border-radius: 20px 20px 0 0;
  list-style-type: none;
  height: 100%; 
  overflow-y: scroll; 
  scrollbar-width: none;
  overflow-x: hidden;
}

.post {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  border-top: 0.5px solid #584F7EFF; 
}

.avt-container {
  margin-right: 15px;
}

.avt-photo {
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  flex-grow: 1;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.username {
  font-weight: bold;
  color:  #F8F9FAFF;
  margin-right: 10px;
  text-decoration: none;
  line-height: 21px;
}

.email {
  color: #DEE1E6FF;
  font-size: 0.9em;
  margin-right: 10px;
  text-decoration: none;
}

.timestamp {
  font-size: 0.8em;
  color: #aaa;
}

.text {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #F8F9FAFF;
}

.image img {
  max-width: 80%;
  border-radius: 10px;
  margin-top: 10px;
}

.interaction {
  display: flex;
  gap: 5rem;
  margin-top: 10px;
}

.interaction-button {
  display: flex;
}

.interaction-button button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; 
  background-color: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.interaction-button button:hover {
  background-color: #cccccc;
}

.interaction-button button:hover .icon {
  filter: invert(100%)
}

.interaction-count {
  margin-left: 0.3em; 
  font-size: 14px;
  color: #555; 
  display: flex;
  justify-content: center;
  align-items: center;
}