
@media screen and (max-width: 768px) {
    body {
      flex-direction: column;
    } 
    .header {
      border-radius: 0;
      width: 100% !important;
      height: 2.5rem !important;
      top: 2.5rem;
    }
    .tabs {
      height: 2.5rem;
    }
    .tab {
      height: 2.5rem;

      border-radius: 0;
      font-size: 14px;
    }
  
    .container-homepage {
      top: 5.5rem;
      padding-bottom: 10rem;
      width: 100% !important;
      height: 100vh;
      border-radius: 0px 0px 0px 0px;
    }
  
    .post-container-homepage {
      height: 100%;
    }
  
    .post {
      padding: 0.5rem; 
    }

    .post-detail-header #prev {
      margin-left: 1rem !important;
      margin-top: 0rem !important;
      width: 1.8rem !important;
      height: 1.8rem !important;
    }
    .post-detail-header i {
      margin-top: 0rem !important;
      font-size: 1rem !important;
    }

    .post-title {
      font-size: 20px !important;
      padding-top: 0rem !important;
    }
    
    .avt-container {
      width: 30px;
      height: 30px;
    }
  
    .avt-photo {
      width: 30px;
    }
  
    .content {
      font-size: 14px;
    }

    .reply-box-content .content {
      gap: calc(5rem);
    }
  }